body {
    margin: 0;
    box-sizing: border-box;
    background: #fafafa;
	font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: inherit;
}

p {
    font-size: 16px;
}


header {
    background: #F1F1F1;
    padding: 20px 0;
}

.logo-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-phone-location {
    display: flex;
    gap: 30px;
    margin-left: 400px;
}

.phone-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elipse-phone {
    width: 35px;
    height: 35px;
    background: #1C1C1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-phone {
    background: url("../img/phone.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.elipse-location {
    width: 35px;
    height: 35px;
    background: #1C1C1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-location {
    background: url("../img/location.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-flag {
    background: url("../img/macedonia.png") no-repeat center/cover;
    width: 32px;
    height: 32px;
}

.img-mail {
    background: url("../img/email.png") no-repeat center/cover;
    width: 25px;
    height: 25px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-first-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-first-ul li a {
    padding: 15px 30px;
    display: inline-block;
    transition: 0.5s ease;
}

.nav-first-ul li a:hover {
    background: #1D7EA8;
}

.nav-dropdown-ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    background: #F1F1F1;
    z-index: 100;
}

.nav-dropdown-ul li a {
    color: #1C1C1C;
}

.nav-dropdown-ul li:hover {
    background: #1C1C1C;
}

.nav-dropdown-ul li:hover a {
    color: #FFFFFF;
}

.nav-first-ul .active:hover .nav-dropdown-ul {
    display: block;
}

.nav-dropdown-ul li a {
    transition: none;
    background: none;
}

.nav-dropdown-ul li a:hover {
    background: none;
}

.card{
    width: 600px;
    height: 650px;
    background: #1C1C1C;
    border-radius: 8%;
    /* position: absolute; */
    margin: 0 auto;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 0 20px 70px -5px #1C1C1C;
}

.card h2{
    color: #1D7EA8;
}

.card p{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border-left: 5px solid #1D7EA8;
    padding-left: 10px;
    color: #fff;
}

.card p span{
    position: absolute;
    color: #1D7EA8;
    font-size: 20px;
    margin-top: -2px;
}

.second{
    margin-top: 20px;
}

.card iframe{
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

form{
    max-width: 100%;
    width: 600px;
    height: 400px;
    max-width: 600px;
    padding-top: 50px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group{
    padding: 15px;
    position: relative;
}

input, textarea{
    width: 400px;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
}


label{
    position: absolute;
    left: 0;
    top: 0;
    padding: 19px;
    color: #1C1C1C;
    text-align: center;
    transition: 0.2s;
    font-size: 18px;
}

form button{
    padding: 10px 35px;
    background: #1C1C1C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.star{
    color: red;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -22px;
    font-size: 14px;
}

textarea {
    resize: none;
  }

form button:hover{
    background: #1D7EA8;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.images{
    overflow: hidden;
    /* padding: 60px 0; */  /* adds padding to the white box behind them add it if you want :))))*/
    white-space: nowrap;
    background: #fff;
}

.images-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.images-slide img{
    height: 200px;
    width: 200px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F1F1F1;
    padding: 30px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    margin-bottom: 11px;
    text-decoration: none;
    color: black;
}

footer h5 {
    font-size: 23.04px;
}

.mrg {
    margin-bottom: 15px;
}

footer a:hover {
    color: #1D7EA8;
}

footer img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inzinering {
    display: flex;
    flex-direction: column;
}

.proizvodi {
    display: flex;
    flex-direction: column;
}

.align {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copy-right {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    padding: 10px 0;
}

@media (width < 900px){
    .scroll-down4{
            width: 5px;
            height: 150px;
            background: transparent;
            margin: 0 auto;
            margin-top: 550px;
            margin-right: 145px;
            display: none;
        }
}